---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="social-section">
        <Socials centered />
      </div>
      
      <div class="copyright-wrapper">
        <div class="flex items-center gap-1 text-skin-base/70">
          <span> {currentYear}</span>
          <span class="px-1">•</span>
          <span>Julian Beck</span>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full bg-skin-fill;
  }
  .footer-wrapper {
    @apply w-full max-w-3xl mx-auto px-4;
  }
  .footer-content {
    @apply flex flex-col sm:flex-row justify-between items-center py-6 sm:py-4;
  }
  .social-section {
    @apply mb-4 sm:mb-0;
  }
  .copyright-wrapper {
    @apply flex flex-col items-center sm:items-end;
  }
</style>
