---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li class="inline-block">
  <a
    href={`/tags/${name.toLowerCase()}`}
    class={`
      group inline-flex items-center gap-1.5 rounded-full 
      bg-skin-accent/10 px-4 py-1.5 
      text-skin-accent backdrop-blur-sm transition-all duration-300
      hover:bg-skin-accent/20 hover:shadow-sm
      ${size === "sm" ? "text-sm" : "text-base"}
    `}
  >
    <span class="relative">#</span>
    <span class="relative">{name.toLowerCase()}</span>
  </a>
</li>

<style>
  a:hover span {
    @apply transform transition-transform duration-300;
  }
</style>
